body {
  background-color: #f0f4f8;
}

.appHeader {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  width: calc(100vw - 2rem);
  padding: 1rem;
  background-color: #e6eef499;
  backdrop-filter: blur(4px);
}

.appHeader h2 {
  margin: 0 4.5rem 0 0.5rem;
  vertical-align: bottom;
}

.appHeader .headerControls {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .appHeader h2 {
    margin-right: 0.5rem;
  }

  .appHeader .headerControls {
    flex-direction: column;
  }
}

.pointBudget {
  min-width: 9rem;
  margin: 0 0.5rem;
}

.characterLevel {
  min-width: 12rem;
  margin: 0 0.5rem;
}

.characterBuilder {
  width: 1fr;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 0;
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
  text-align: center;
}

.characterLevel hr {
  margin-right: 0.5rem;
}

.abilityGrid {
  display: grid;
  align-content: space-evenly;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  grid-template-rows: max-content;
  gap: minmax(0, 1rem);
  margin: 1rem 0;
  text-align: center;
}

@media (max-width: 768px) {
  .abilityGrid {
    grid-template-columns: repeat(3, minmax(7rem, 1fr));
  }
}

.abilityGrid > div {
  margin: 0.5rem auto;
  width: 7rem;
}

.abilityGrid .abilityBox {
  margin: 0 0 0 auto;
}

.abilityGrid .skillBonus {
  text-align: right;
  overflow-x: visible;
}

.abilityBox {
  border: 1px solid #ddd;
  border-radius: 8rem / 4rem;
  width: 5rem;
  cursor: pointer;
}

.abilityBox:hover {
  background-color: #f0f4f8;
}

.modifier {
  font-size: 2rem;
  margin: 0 auto;
}

.score {
  font-size: 1rem;
  margin: 0 auto;
  width: 3rem;
  border: 1px solid #ddd;
  border-radius: 2rem / 1rem;
}

.ability {
  font-size: 0.8rem;
  margin: 0 auto;
  text-transform: uppercase;
}

.pips {
  margin: 0;
  line-height: 0.8rem;
}

.pips > svg {
  font-size: 0.8rem;
}

.skillBonus {
  text-align: right;
  white-space: nowrap;
  cursor: pointer;
}

.skillBonus:hover {
  color: #0b6bcb;
}

.skillBonus .skill {
  font-size: 0.7rem;
}

.skillBonus .bonus {
  text-decoration: underline;
  margin-left: 0.4rem;
}

.rounded {
  border-radius: 6px;
  margin: 0.2rem;
  overflow: hidden;
}

.featureCard {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin: 0.2rem;
  padding: 0.5rem;
  text-align: left;
}

.featureCard Button {
  position: absolute;
  top: -1px;
  right: -1px;
  height: 2.5rem;
  border-radius: 6px;
}

.featureCard p {
  margin-top: 0;
}

.featureCard s {
  margin-right: 0.5em;
  color: #888;
}

.featureCard .requires {
  margin-left: 0.5em;
  cursor: pointer;
  color: #888;
}

.featureCard.soldOut {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e4e8;
  color: #888
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(13rem, 1fr));
}

@media (max-width: 768px) {
  .cardGrid { 
    grid-template-columns: repeat(2, minmax(13rem, 1fr));
  }
}

@media (max-width: 524px) {
  .cardGrid { 
    grid-template-columns: repeat(1, minmax(13rem, 1fr));
  }
}

.modalShop {
  width: 42rem;
  max-width: 100%;
  overflow-y: scroll;
}

.sticky {
  position: sticky;
  top: 1rem;
  z-index: 1100;
}

.pointer {
  cursor: pointer;
}
